{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Change Password</h4>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-body change-password">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="oldPassword">Old Password<i class="ri-asterisk"></i></label>
                  <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter Old Password" required>
                  <div class="show-password">
                    <i class="ri-eye-line"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="newPassword">New Password<i class="ri-asterisk"></i></label>
                  <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password" required>
                  <div class="show-password">
                    <i class="ri-eye-line"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password<i class="ri-asterisk"></i></label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Enter New Confirm Password" required> 
                  <div class="show-password">
                    <i class="ri-eye-line"></i>
                  </div>
                </div>                       
              </div>
              <div class="col-12 py-3 px-3">
                  <button type="submit" class="btn btn-primary btn-md" name="submit" id="updatePassword"> Update</button>
              </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}