{% extends 'base.html' %}
{% load static %}

{% block title %}Item Transfer{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Transfer Item</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Transfer Items</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <a href="{% url 'item-transfer-list' %}">
            <span class="op-7">Transfers List</span>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Transfer Item</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="fromOffice">From Office <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Jaipur</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="toOffice">To Office <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Kota</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="category">Category <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Furniture</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="item">Item <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Chair (CHA123)</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="qty">Quantity <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">20</p>
                </div>           
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="transferStatus">Transfer Status <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Completed</p>    
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="receivedDate">Received Date</label>
                  <p class="fw-bold">31 March 2026</p>    
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="remark">Remark (optional)</label>
                  <p class="fw-bold">20 chairs transfer from jaipur to kota</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}