{% extends 'base.html' %}
{% load static %}

{% block title %}Purchase Entry View{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Purchase View</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Purchase Entry</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <a href="{% url 'purchase-list' %}">
            <span class="op-7">Purchase List</span>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Purchase View</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="purchaseNumber">Purchase Order No. <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">A2026</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="supplier">Supplier <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Furntiure Traders Pvt Ltd</p> 
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="office">Office <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Jaipur</p>  
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="purchaseDate">Purchase Date <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">25 March 2026</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="item">Item <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Chair</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="qty">Quantity <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">20</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="pricePerUnit">Price Per Unit <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">1000</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="purchaseStatus">Puchase Status <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Approved</p>   
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="poDoc">P.O. / Document (Optional)</label><br>
                  <button class="btn btn-info btn-xs mb-1">View Document</button>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="remark">Remark (optional)</label>
                  <p class="fw-bold">black color</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}