{% extends 'base.html' %}
{% load static %}

{% block title %}Supplier{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header d-print-none">
      <h4 class="fw-bold mb-3">Supplier</h4>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="{% url 'dashboard' %}">
            <i class="ri-home-3-line"></i>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Vendor</span>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <a href="{% url 'supplier-list' %}">
            <span class="op-7">Supplier List</span>
          </a>
        </li>
        <li class="separator">
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li class="nav-item">
          <span class="op-7">Supplier</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="suppplierName">Supplier Name <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Stationary Enterprise</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="gstno">GST No. (if Applicable)</label>
                  <p class="fw-bold">ABCD12345E</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="contact">Contact No. <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">9876543210</p>
                </div>                 
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="address">Address <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Nehru Nagar</p>
                </div>             
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="city">City <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Ajmer</p>
                </div>             
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group">
                  <label for="state">State <i class="ri-asterisk"></i></label>
                  <p class="fw-bold">Rajasthan</p>
                </div>             
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

{% endblock %}